<hr>
<label for="hometown">Home Town: </label>
<input name="hometown" [(ngModel)]="homeTown"/>
<br>
<label for="profession">Profession: </label>
<input name="profession" [(ngModel)]="profession"/>
<br>
<label for="food">Favorite Food:</label>
<input name="food" [(ngModel)]="favoriteFood"/>
<br>
<label for="age">Age:</label>
<input name="age" [(ngModel)]="age"/>
<br>
<label for="hobby">Hobby:</label>
<input name="hobby" [(ngModel)]="hobby"/>
<p>I am {{age}} years old.  I have spent my whole life working as
    a {{ profession }} in {{ homeTown }}. My favorite thing to do on the weekends
    is eat is {{favoriteFood}} and {{hobby}}. </p>
